
@{
    ViewBag.Title = "DashBoardPageContent";
}


@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row pt-2 pb-2">

            <div class="col-sm-3">
                <div class="btn-group float-sm-right">

                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->
        <div class="row">

            <div class="col-sm-4">
                <div class="card gradient-blooker">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <p class="text-white">Total Orders</p>
                                <h4 class="text-white line-height-5">8450</h4>
                            </div>
                            <div class="w-circle-icon rounded-circle border border-white">
                                <i class="fa fa-users text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-4">
                <div class="card gradient-bloody">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <p class="text-white">Total Orders</p>
                                <h4 class="text-white line-height-5">8450</h4>
                            </div>
                            <div class="w-circle-icon rounded-circle border border-white">
                                <i class="fa fa-users text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-4">
                <div class="card gradient-ohhappiness">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <p class="text-white">Total Orders</p>
                                <h4 class="text-white line-height-5">8450</h4>
                            </div>
                            <div class="w-circle-icon rounded-circle border border-white">
                                <i class="fa fa-users text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>


    </div>


</div>
@*end*@
