@model WillAssure.Models.UserFormModel
@{
                /**/

                ViewBag.Title = "EditUserFormPageContent";
}



@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row pt-2 pb-2">

            <div class="col-sm-3">
                <div class="btn-group float-sm-right">

                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header"><i class="fa fa-table"></i>Will Employee Data</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="default-datatable" class="table table-bordered">
                                <thead>
                                    <tr class="ui-widget-header">
                                        <th>uId</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Middle Name</th>
                                        <th>DOB</th>
                                        <th>Mobile</th>
                                        <th>Email</th>
                                        <th>Address1</th>
                                        <th>Address2</th>
                                        <th>Address3</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Pin</th>
                                        <th>UserId</th>
                                        <th>UserPassword</th>


                                        <th>Designation</th>
                                        <th>Role</th>
                                        <th>Active</th>
                                        <th>CompId</th>
                                        <th>Action</th>



                                    </tr>
                                </thead>
                                <tbody id="UserData"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Row-->

        <input type="button" style="display:none;" id="btnuserformdelete" name="name" value="" />

    </div>


</div>









@*end*@




<script>

    $(document).ready(function () {

        $.ajax({

            type: "POST",
            url:"@Url.Action("BindUserForm", "EditWillEmployee")",
            success: function (data) {
                $('#UserData').empty().append(data);
            }
        });


    });


</script>

<script>


    function Edit(id) {


        var id = id;



            $.ajax({

            type: "POST",
            url: "@Url.Action("UpdateEditForm", "EditWillEmployee")",
            data: {  "send": "" + id + ""   },
            success: function (data) {


                var NestId = data
                var url = "/UpdateWillEmployee/UpdateWillEmployeeIndex?NestId=" + NestId;
                window.location.href = url;


            }



        });

    }




      $(document).on('click', '.deletenotification', function () {

        var $tr = $(this).closest('tr');
        var id = $(this).attr('id');

        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this record!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then(name => {
                if (!name) throw null;

              $.ajax({

            type: "POST",
            url: "@Url.Action("DeleteEditFormRecords", "EditWillEmployee")",
            data: {  "send": "" + id + ""   },
            success: function (data) {

                $("#btnuserformdelete").on("click", function () { });

                $("#btnuserformdelete").click(); //trigger event after listening to it.




                $('#UserData').empty().append(data).reload();

            }



        });
            })
            .then(results => {
                return results.json();
            })
            .then(json => {
                const message = json.message;
                const response = json.response;
                if (response == 0) {
                    $tr.fadeOut();
                    swal({
                        title: 'Deleted',
                        text: message,
                        icon: "success",
                    })
                        .then(willDelete => {

                        })
                }
            })
            //.catch(err => {
            //    if (err) {
            //        swal("Oh noes!", "The AJAX request failed!", "error");
            //    } else {
            //        swal.stopLoading();
            //        swal.close();
            //    }
            //});
    });



</script>