@{
    ViewBag.Title = "EditAssetCategoryPageContent";
}


@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row pt-2 pb-2">

            <div class="col-sm-3">
                <div class="btn-group float-sm-right">

                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header"><i class="fa fa-table"></i>Registered User Data</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="default-datatable" class="table table-bordered">
                                <thead>
                                    <tr class="ui-widget-header">
                                        <th>Asset Category</th>
                                        <th>Asset Code</th>
                                        <th>Action</th>
                                        <th><input type="button" id="btnassetcategorydeleted" name="name" value="" /></th>
                                    </tr>
                                </thead>
                                <tbody id="AssetCategoryData"></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Row-->



    </div>


</div>









@*end*@





<script>

    $(document).ready(function () {

        $.ajax({

            type: "POST",
            url:"@Url.Action("BindAssetCategoryFormData", "EditAssetCategory")",
            success: function (data) {
                $('#AssetCategoryData').empty().append(data);
            }
        });


    });




</script>

<script>


    function Edit(id) {


        var id = id;



            $.ajax({

            type: "POST",
            url: "@Url.Action("UpdateAssetCategoryData", "EditAssetCategory")",
            data: {  "send": "" + id + ""   },
            success: function (data) {


                var NestId = data
                var url = "/UpdateAssetCategory/UpdateAssetCategoryIndex?NestId=" + NestId;
                window.location.href = url;


            }



        });

    }


    function Delete(id) {

        var id = id;



        $.ajax({

            type: "POST",
            url: "@Url.Action("DeleteAssetCategoryData", "EditAssetCategory")",
            data: {  "send": "" + id + ""   },
            success: function (data) {
               

                $("#btnassetcategorydeleted").on("click", function () { });

                $("#btnassetcategorydeleted").click(); //trigger event after listening to it.




                $('#AssetCategoryData').empty().append(data).reload();
              







              
            }



        });
    }

</script>





