@model WillAssure.Models.PaymentModel
@{
    /**/

    ViewBag.Title = "ChangeTemplatePageContent";
}


@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row pt-2 pb-2">

            <div class="col-sm-3">
                <div class="btn-group float-sm-right">

                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="card-title text-primary">Change Template</div>
                        <hr class="div_rd">

                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "RoleForm" }))
                        {

                            <div class="row">
                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Select Template</label>
                                        @Html.HiddenFor(m => m.tid)
                                        @Html.DropDownListFor(x => x.ddtemptxt, new SelectListItem[]{
                                       new SelectListItem() {Text = "--Select--", Value=""},
                                       new SelectListItem() {Text = "WillTestator1", Value="1"},
                                       new SelectListItem() {Text = "WillTestator2", Value="2"},
                                       new SelectListItem() {Text = "WillTestator3", Value="3"},
                                       new SelectListItem() {Text = "WillTestator4", Value="4"},
                                       new SelectListItem() {Text = "WillTestator5", Value="5"}} , new { @class= "form-control input-shadow validate[required]", @onchange = "getIdentityselection(this.value)" })
                                        @Html.HiddenFor(m => m.ddtempid, new { @id = "ddtempid" })
                                        @Html.HiddenFor(m => m.ddtemptxt, new { @id = "ddtemptxt" })
                                    </div>
                                </div>




                            </div>



                            <div class="form-group">

                                <button type="submit" id="btnRoleformsubmit" formaction="ChangeTemplateData" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i> Submit</button>

                            </div>

                        }
                    </div>
                </div>
            </div>
            <button type="button" id="btnRoleformsubmitSUCCESS" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
            <button type="button" id="btnRoleformsubmitCHECK" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>

        </div>


    </div>


</div>
@*end*@


<script>

    function getIdentityselection(value) {
        $("#ddtempid").val(value);
    }


</script>



@if (ViewBag.Message == "Verified")
{
    <script>

        $(document).ready(function () {


            $("#btnRoleformsubmitSUCCESS").on("click", function () { });

            $("#btnRoleformsubmitSUCCESS").click(); //trigger event after listening to it.

          


        });
    </script>

}