
@{
    ViewBag.Title = "EditMainAssetsPageContent";
}

@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row pt-2 pb-2">
            <div class="col-sm-3">
                <div class="btn-group float-sm-right">
                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header"><i class="fa fa-table"></i>Mapped Data</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="default-datatable" class="table table-bordered">
                                <thead>
                                    <tr class="ui-widget-header">
                                        <th>AIId</th>
                                        <th>Assset Type</th>
                                        <th>Asset Category</th>
                                       
                                        <th style="display:none;"><input type="button" id="btndeleteroles" name="name" value="" /></th>
                                    </tr>
                                </thead>
                                <tbody id="MappedData"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Row-->

    </div>

</div>




@*end*@


<script>

    $(document).ready(function () {

        $.ajax({

            type: "POST",
            url:"@Url.Action("BindMappedFormData", "EditMainAssets")",
            success: function (data) {
                $('#MappedData').empty().append(data);
            }
        });


    });




</script>
<script>


    function Edit(id) {


        var id = id;



            $.ajax({

            type: "POST",
            url: "@Url.Action("UpdateMappedData", "EditMainAssets")",
            data: {  "send": "" + id + ""   },
            success: function (data) {


                var NestId = data
                var url = "/UpdateMainAssets/UpdateMainAssetsIndex?NestId=" + NestId;
                window.location.href = url;


            }



        });

    }


    function Delete(id) {

        var id = id;



        $.ajax({

            type: "POST",
            url: "@Url.Action("DeleteMappedRecords", "EditMainAssets")",
            data: {  "send": "" + id + ""   },
            success: function (data) {


                $("#btndeleteroles").on("click", function () { });

                $("#btndeleteroles").click(); //trigger event after listening to it.




                $('#MappedData').empty().append(data).reload();





            }



        });
    }

</script>


