@{
    Layout = "~/Views/Shared/Willassure_LayoutPage.cshtml";
}
@{
    ViewBag.Title = "Aboutus";
}

<!-- Page title -->
<div class="page-title parallax parallax1">
    <div class="section-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">About Us</h1>
                </div><!-- /.page-title-captions -->
                <div class="breadcrumbs">
                    <ul>
                        <li class="home"><i class="fa fa-home"></i><a href="index-2.html">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->

<section class="section-aboutus wrap-blance blancejqurey bg-section2 clearfix">
    <div id="blance1" class="featured-aboutus float-left">
        <img src="images/services/about.jpg" alt="image">
    </div>
    <div id="blance2" class="info-aboutus float-left">
        <div class="title-section style2 left">
            <h1 class="title"><span>About</span> Us</h1>
            <div class="sub-title">
                Welcome to will assure, we here to cater to your needs online. Making a will is always top of the mind for each one of us, but we are hesitant/ reluctant to do so as all the other priorities are humming, and we do not find time to go to an advocate.

            </div>
            <div class="sub-title">

                Will assure team understands your difficulties and has decided to assist you with this online facility. Make your will from where you wish, no restrictions of geographical boundaries. This need was reckoned by our team, <strong>Adv. Dilip Rajput</strong> and <strong>Dr. Medha Shetye </strong>.
                Our team comprises of qualified professionals which facilitates in making a valid will. Our team is committed to our customers and thrive to reach to their expectations.
            </div>
            <div class="sub-title">
                The blend of legal knowledge and the expertise of our developers facilitates our users to easily draft their own will answering the basic questions and deliver quality services to each of our users.
            </div>
        </div>

    </div>
</section>

<section class="flat-row  page-teammember2 bg-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section text-center">
                    <h1 class="title">Meet Our Team</h1>
                    <div class="sub-title">
                        We are here to Acelerate your business and help you find the way.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <div class="flat-team style2">
                    <div class="avatar">
                        <img src="images/team/v1.jpg" alt="image">
                    </div>

                </div>
            </div>
            <div class="col-sm-9">
                <h2 class="title">Adv. Dilip Rajput</h2>
                Founder of Will Assure and the Adian group, Dilip has spent over two and half decades of playing a host of roles in the capital market and investment management domains. His multi-faceted interests can be judged by his Masters Degrees in Management and Law coupled with Certified Financial Planner (CFP CM).</br>
                He has to credit setting up and managing large operations teams in wealth management and capital market fields. He has significant experience in large scale projects related to operational and financial process reengineering, software scale ups and technology upgrades.</br>
                After stints with the Tata Group and thereafter with Kotak Group Dilip founded Adian in 2014.

            </div>

        </div>
        <div class="row" style="margin-top:40px;">

            <div class="col-sm-9">
                <h2 class="title">Dr. Adv Medha Shetye</h2>
                Co Founder and CEO of Will Assure , Qualified Legal professional with a doctorate in law and a master’s degree in marketing management. </br>
                A practicing lawyer with a rich experience of over two decades in the legal field primarily focussed on matters related succession planning, Wills, Probate of wills, succession certificates, Letter of Administration and Private Trusts.</br>
                Qualified and chartered trusts and estate planner, from American Academy of Financial Management.
                Dynamic and motivated professional with a proven record of generating and building relationships, managing team, designing educational strategies, and coaching individuals to success. A committed senior lecturer with over 10 years of teaching experience in reputed institutions.  Former principal of a law college.


            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="flat-team style2">
                    <div class="avatar">
                        <img src="images/team/v1.jpg" alt="image">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="flat-row padingbotom">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 history-text">
                <div class="title-section style3 left">
                    <h2 class="title">Will assure means</h2>
                </div>
                <div class="main-history">
                    <div class="wrap-step clearfix">
                        <div class=" data-step float-left">
                            <span class="year">A</span>
                        </div>
                        <div class=" info-step float-left">
                            <h5>A-ssurance</h5>
                            <p>Will assure team gives an affirmation/ confirmation that the personal details submitted to them are only for the purpose of drafting the will.</p>
                        </div>
                    </div>
                    <div class="wrap-step clearfix">
                        <div class=" data-step float-left">
                            <span class="year">S</span>
                        </div>
                        <div class=" info-step float-left">
                            <h5>S-ecurity</h5>
                            <p>Will assure team secures your document in a vault if you desire so, which can be utilized only by you if required. committed team maintains full confidentiality, for the faith the clients impose on will assure.</p>
                        </div>
                    </div>
                    <div class="wrap-step clearfix">
                        <div class=" data-step float-left">
                            <span class="year">S</span>
                        </div>
                        <div class=" info-step float-left">
                            <h5>S-afe</h5>
                            <p>and standardized It is absolutely safe to make a will with will assure as our services are consistent, progressive and encompassing the developments according to present requirements.</p>
                        </div>
                    </div>
                    <div class="wrap-step clearfix">
                        <div class=" data-step float-left">
                            <span class="year">U</span>
                        </div>
                        <div class=" info-step float-left">
                            <h5>U-tility</h5>
                            <p> The website and facility of online will is extremely beneficial and useful.</p>
                        </div>
                    </div>
                    <div class="wrap-step clearfix">
                        <div class=" data-step float-left">
                            <span class="year">R</span>
                        </div>
                        <div class=" info-step float-left">
                            <h5>R-easonable and reliable</h5>
                            <p> The team declares that they award services at reasonable, competitive prices and thrives to maintain the trust of the client by awarding all the services deligently, carefully as our clients need. </p>
                        </div>
                    </div>
                    <div class="wrap-step clearfix">
                        <div class=" data-step float-left">
                            <span class="year">E</span>
                        </div>
                        <div class=" info-step float-left">
                            <h5>E-ease </h5>
                            <p> Access and navigation to the website is smooth and specially designed to comfort our customers. Will assure encrypts data to ensure safety of our users.</p>
                        </div>
                    </div>
                    <div class="wrap-step clearfix">
                        <div class=" data-step float-left">
                            <span class="year">C</span>
                        </div>
                        <div class=" info-step float-left">
                            <h5>C-omitted </h5>
                            <p>team maintains full confidentiality for the faith the clients impose on will assure.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 history-text">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="row">
                        <div class="title-section style3 left">
                            <h2 class="title" style="margin-bottom: 0px"> Our Vision</h2>
                        </div>
                        <p>To be the Friendliest online services for wealth management, and facilitate each individual  around the globe to secure his wealth effortlessly. </p>

                        <div class="title-section style3 left" style="margin-top: 50px">
                            <h2 class="title" style="margin-bottom: 0px"> Our Mission</h2>
                        </div>
                        <p>Facilitate legal assistance to masses, cost effectively.  Ensure each individual’s future is secured and planned by providing/aiding them with services at their doorstep. Encourage/ people to be conscious of their loved one’s future, support, comfort and extend the helping hand to their legatees.</p>
                    </div>
                </div>


            </div>
        </div>
</section>

