@{
    Layout = "~/Views/Shared/Willassure_LayoutPage.cshtml";
}

<!-- Page title -->
<div class="page-title parallax parallax1">
    <div class="section-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Contact us</h1>
                </div><!-- /.page-title-captions -->
                <div class="breadcrumbs">
                    <ul>
                        <li class="home"><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                        <li>Contact us</li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->



<section class="section-maps-form wrap-blance blancejqurey2  parallax parallax4 clearfix">
    <div class="section-overlay style2"></div>
    <div id="blance-s1" class="one-half flat-maps-form1">
        <div class="flat-maps">
            <div id="maps" class="maps" style="width: 100%; height: 533px; "></div>
        </div>
    </div>
    <div id="blance-s2" class="one-half flat-maps-form2 formrequest2">
        <div class="title-section style2 titlesize48 color-white">
            <h1 class="title"><span>Request</span> a call back.</h1>
            <div class="sub-title">
                Whatever specific financial, personal or investment opportuni-ties you’re looking for, be sure that the free consultation with one of our experts will sway you to signup!
            </div>
        </div>
        <div class="wrap-formrequest">
            <form id="contactform" class="contactform wrap-form style2 clearfix" method="post" action="http://themesflat.com/html/consuloan/contact/contact-process2.php" novalidate="novalidate">
                <span class="title-form">I would like to discuss:</span>
                <span class="flat-input flat-select">
                    <select>
                        <option value="">How can we help:*</option>
                        <option value="">How can we help:*</option>
                        <option value="">How can we help:*</option>
                    </select>
                </span>
                <span class="flat-input"><input name="phone" type="text" value="" placeholder="Phone Number:*" required="required"></span>
                <span class="flat-input"><input name="name" type="text" value="" placeholder="Your Name:*" required="required"></span>
                <span class="flat-input"><button name="submit" type="submit" class="flat-button" id="submit" title="Submit now">SUBMIT<i class="fa fa-angle-double-right"></i></button></span>
            </form>
        </div>
    </div>
</section>