@{
    Layout = "~/Views/Shared/Willassure_LayoutPage.cshtml";
}

@{
    ViewBag.Title = "Faq";
}

<!-- Page title -->
<div class="page-title parallax parallax1">
    <div class="section-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">FAQ</h1>
                </div><!-- /.page-title-captions -->
                <div class="breadcrumbs">
                    <ul>
                        <li class="home"><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                        <li>FAQ</li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->
<!-- Services item -->
<section class="flat-row section-iconbox padding2 ">
    <div class="container">
        <div class="row">
            <div class="  float-left">

                <div class="flat-accordion">
                    <div class="flat-toggle">
                        <div class="toggle-title active">Who can be the executor?</div>
                        <div class="toggle-content">
                            <p>Executor can be any individual above the age of 18 years, in whom the testator reposes faith for the execution of the will</p>
                        </div>
                    </div><!-- /toggle -->
                    <div class="flat-toggle">
                        <div class="toggle-title">Who can be the guardian?</div>
                        <div class="toggle-content">
                            <p>Guardian can be any individual above the age of 18 years, appointed by the testator for the care and custody and wellbeing of his minor children</p>
                        </div>
                    </div><!-- /toggle -->
                    <div class="flat-toggle">
                        <div class="toggle-title">What do you mean by attestation?</div>
                        <div class="toggle-content">
                            <p>Attestation is a declaration that the document is executed in the presence of witness. The witness attests the will.</p>
                        </div>
                    </div>
                    <div class="flat-toggle">
                        <div class="toggle-title">Is registration mandatory?</div>
                        <div class="toggle-content">
                            <p>Registration for the will is not mandatory.</p>
                        </div>
                    </div>
                    <div class="flat-toggle">
                        <div class="toggle-title">Can alterations be carried in the will?</div>
                        <div class="toggle-content">
                            <p>Yes, you can alter your will any number of times in your life time.</p>
                        </div>
                    </div>
                    <div class="flat-toggle">
                        <div class="toggle-title">Can it be through a Codocil or new will?</div>
                        <div class="toggle-content">
                            <p>Minor alterations can be done through a codicil, but for major changes it is advisable that you draft a new will</p>
                        </div>
                    </div>
                    <div class="flat-toggle">
                        <div class="toggle-title">Which will shall be effective if multiple wills are made?</div>
                        <div class="toggle-content">
                            <p>The last will of the testator shall take effect in case multiple wills are made by the testator</p>
                        </div>
                    </div>
                    <div class="flat-toggle">
                        <div class="toggle-title">Difference between a living will and a will?</div>
                        <div class="toggle-content">
                            <p>Will is the disposition of property of the testator after his death according to his desires. Living will is the desire of the maker of a living will as to what decisions are to be taken in case his health detoriates to a extent where he cannot take his own decisions about himself.</p>
                        </div>
                    </div>
                    <div class="flat-toggle">
                        <div class="toggle-title">Who can be a beneficiary to the will?</div>
                        <div class="toggle-content">
                            <p>
                                Any family member, stranger or an institution can be a beneficiary to a will, it depends on the desire of the testator.

                            </p>
                        </div>
                    </div>
                    <div class="flat-toggle">
                        <div class="toggle-title">Is it advisable to make multiple copies of will?</div>
                        <div class="toggle-content">
                            <p>It is not advisable to make multiple copies of the will</p>
                        </div>
                    </div>
                    <div class="flat-toggle">
                        <div class="toggle-title">Will my personal information be secured?</div>
                        <div class="toggle-content">
                            <p>Yes, data is encrypted and hence your personal information is secured.</p>
                        </div>
                    </div>
                    <div class="flat-toggle">
                        <div class="toggle-title">Will my personal information stored?</div>
                        <div class="toggle-content">
                            <p>Will assure gives an option to its client to select whether they would like to store the information or not. The storing of data if any would be strictly on your instructions only.</p>
                        </div>
                    </div>
                    <div class="flat-toggle">
                        <div class="toggle-title">Where should I store my will?</div>
                        <div class="toggle-content">
                            <p>Will can be stored with the registrar in a fire proof place</p>
                        </div>
                    </div>
                    <div class="flat-toggle">
                        <div class="toggle-title">The online will generated by willassure, will it be called a valid document i.e recognized by law?</div>
                        <div class="toggle-content">
                            <p>Yes, if you are filing the details accurately, the PDF generated is a valid document recognized by law.</p>
                        </div>
                    </div>
                    <div class="flat-toggle">
                        <div class="toggle-title">Is the process of probate always essential for execution of a will?</div>
                        <div class="toggle-content">
                            <p>The process of probate is not essential for an execution of will in all places in India</p>
                        </div>
                    </div>
                    <div class="flat-toggle">
                        <div class="toggle-title">What will happen if I do not appoint executors?</div>
                        <div class="toggle-content">
                            <p>If you do not appoint an executor the court will have to appoint administrator for the same.</p>
                        </div>
                    </div>
                    <div class="flat-toggle">
                        <div class="toggle-title">If the executor is not appointed will the “will generated” be considered invalid?</div>
                        <div class="toggle-content">
                            <p>No the will, shall not be considered invalid but it shall unnecessary lead to legal complications</p>
                        </div>
                    </div>
                    <div class="flat-toggle">
                        <div class="toggle-title">Can I make a will for a portion of my property?</div>
                        <div class="toggle-content">
                            <p>You may do so but is not advisable as the whole purpose of distribution of wealth as per your desires and to avoid legal complications becomes infructuous if you are doing it for a portion of the property.</p>
                        </div>
                    </div>

                </div><!-- /.accordion -->
            </div>

        </div>

    </div>
</section>

