@{
    Layout = "~/Views/Shared/Willassure_LayoutPage.cshtml";
}


@{
    ViewBag.Title = "Howwework";
}


<!-- Page title -->
<div class="page-title parallax parallax1">
    <div class="section-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">About Us</h1>
                </div><!-- /.page-title-captions -->
                <div class="breadcrumbs">
                    <ul>
                        <li class="home"><i class="fa fa-home"></i><a href="index-2.html">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->


<section class="flat-row  page-teammember2 bg-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section text-center">
                    <h1 class="title">What is a will</h1>
                    <div class="sub-title">
                        <p>
                            A testamentary declaration is called a will. It is one of the most important part of estate planning. It intimates the desire of the testator as to how he wishes to distribute his/ her after his death. An essential document that completes financial planning. Assuring security to the testator, as the testator’s intentions are executed, and his loved ones are protected.
                            ‘Will assure” provides these services online to accomplish your estate planning in an easy, economical manner irrespective of your geographical location. And of course assures you the trust you vest in “Will assure” in assisting you to create/ construct the will.
                            The site is developed under the guidance of legal luminaries and takes care of all the legal aspects while preparing a will. Be rest assured with “Will Assure”

                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
<section class="flat-row  page-teammember2 bg-section" style="padding-top: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section  ">
                    <h1 class="title text-center">Importance of the will </h1>
                    <div class="sub-title">
                        <p>Wills is only way in which a person can distribute his wealth as per his desire.</p>
                        <p>
                            <ul>
                                <li>
                                    <strong>Bequeath to a stranger</strong></br>
                                    One can give away his/her property even to a stranger easily through this document.
                                </li>
                                <li>
                                    Bequeath of emotional, sentimental things
                                    Things [items] having emotional and sentimental value can be distributed to persons who understand the importance of such items, value it and appreciate them.
                                </li>
                                <li>
                                    <strong>  Sufficient provision for beloveds</strong></br>
                                    One can also make sufficient provisions for their beloved ones.
                                </li>
                                <li>
                                    <strong>  Appointment of Gaurdian</strong></br>
                                    Minor children can be entrusted to a guardian, appropriate and trusted by the testator.
                                </li>
                                <li>
                                    <strong> Arrangement of Funeral expenses</strong></br>
                                    One’s funeral expenses can be provided for in a will.
                                </li>
                                <li>
                                    <strong>  Distribution as per desire</strong></br>
                                    One can be rest assured that after them the distribution of their wealth shall take place in the manner as per their desire.
                                </li>
                                <li>
                                    <strong>  Appointment of executor</strong></br>
                                    One can also appoint a trusted person as an executor.
                                </li>
                                <li>
                                    <strong> Eases the process of distribution of wealth.</strong></br>
                                    For the close relatives, a will reduces the agony of the tedious process and eases the process of distribution of wealth. In case a will is not made the distribution of wealth will be as per the succession laws applicable to such person. In such an event, often the distribution of wealth may be against the wishes of the deceased person and may go to individuals to whom one does not wish to bequeath.
                                </li>
                                <li>
                                    <strong>Minimal cost</strong></br>
                                    Moreover, a will can be made without incurring a major amount of money.
                                </li>
                                <li>
                                    <strong> Easy to make</strong>
                                </li>
                                <li>
                                    <strong> Easy to understand</strong></br>
                                    A will is made in a simple and easy language, due to which any common man can understand it and execute it smoothly
                                </li>
                                <li>
                                    <strong> Avoids family disputes</strong></br>
                                    A will reduces disputes that could arise at the time of disposition reducing the mental agony and trauma that one goes through. Family do not have to face the legal complications.
                                </li>
                                <li>
                                    <strong> Can controls the bequeath of assets </strong>
                                </li>
                                <li>
                                    <strong> Can avail of Tax Benefits</strong></br>
                                    NRIs can make separate will for property owned in in India and avail of tax benefits.
                                </li>
                            </ul>

                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
<section class="flat-row padingbotom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 history-text">
                <div class="title-section style3 left">
                    <h2 class="title">How easy it is to make your will?</h2>
                    <p>Secure your families future right away with willassure</p>
                </div>
                <div class="main-history">

                    <div class="col-sm-12 clearfix text-center">
                        <h3>Will type select</h3>
                        <img src="ch1.png">
                    </div>
                    <div class="col-sm-12 clearfix text-center" style="margin-top:30px;">
                        <h3>Easy steps to generate your will</h3>
                        <img src="ch2.png">
                    </div>

                    <p>

                        <ul>
                            <li>
                                Swift will- Require primary details of your asset and completes it intelligently as per your wishes.
                            </li>
                            <li>
                                Comprehensive will ensures the detailed assets being bequeathed to different individuals specifically as your desire.
                            </li>
                        </ul>
                    </p><p>
                        Terms and conditions: Will assure does not provide any legal assistance, but generates an effortless will as per your directions.Once you login to our website and commensurate the making of the will it is presumed that you have read and have  knowledge of our terms and conditions. It shall then be binding  on you and you have to abide and adhere to those terms and conditions.
                    </p>

                    </br>

                    <p>
                        <h3>Points to be noted </h3>
                        <ul>
                            <li>  True and correct Information to be filled </li>
                            <li>
                                Information filled is confidential and not shared with any one.
                            </li>
                            <li>
                                Filling all the information is mandatory at the space provided
                            </li>
                            <li>
                                Please read and understand the definitions stated at the beginning of the document, this will enable you to fulfill the compliances smoothly and efficiently.
                            </li>
                            <li>
                                PDF will be generated after the whole process is followed systematically and shall be emailed to the testator at the address provided at the time of registration.
                            </li>
                        </ul>

                    </p>

                </div>


            </div>


        </div>
</section>

