@{
    Layout = "~/Views/Shared/Willassure_LayoutPage.cshtml";
}
@{
    ViewBag.Title = "Services";
}

<!-- Page title -->
<div class="page-title parallax parallax1">
    <div class="section-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Services</h1>
                </div><!-- /.page-title-captions -->
                <div class="breadcrumbs">
                    <ul>
                        <li class="home"><i class="fa fa-home"></i><a href="index-2.html">Home</a></li>
                        <li>Services Style 01</li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->
<!-- Services item -->
<section class="flat-row section-iconbox padding2 bg-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="title-section style3 left">
                    <h1 class="title">Our Services</h1>
                </div>
            </div>
            <div class="col-md-9">
                <div class="title-section padding-left50">
                    <div class="sub-title style3">
                        <p>Will assure caters to your needs not just by assisting in disposition of your wealth but also takes care of execution of all the related documentation pertaining to your wealth viz. transferring of your financial and nonfinancial assets to the beneficiary.  </p><p>
                            Will assure thus also ensures complete disposition of your wealth physically, guarantying you a rest assured peaceful life.
                            The primary services that we offer are


                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="iconbox style3 box-shadow2">
                    <div class="box-header">
                        <div class="box-icon">
                            <i class="ti-pie-chart"></i>
                        </div>
                    </div>
                    <div class="box-content">
                        <h5 class="box-title">Swift Will </h5>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="iconbox style3 box-shadow2">
                    <div class="box-header">
                        <div class="box-icon">
                            <i class="ti-bell"></i>
                        </div>
                    </div>
                    <div class="box-content">
                        <h5 class="box-title">Comprehensive Will</h5>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="iconbox style3 box-shadow2">
                    <div class="box-header">
                        <div class="box-icon">
                            <i class="ti-bar-chart"></i>
                        </div>
                    </div>
                    <div class="box-content">
                        <h5 class="box-title">POA</h5>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="iconbox style3 box-shadow2">
                    <div class="box-header">
                        <div class="box-icon">
                            <i class="ti-microphone"></i>
                        </div>
                    </div>
                    <div class="box-content">
                        <h5 class="box-title">Gift Deed</h5>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="iconbox style3 box-shadow2">
                    <div class="box-header">
                        <div class="box-icon">
                            <i class="ti-desktop"></i>
                        </div>
                    </div>
                    <div class="box-content">
                        <h5 class="box-title">Codocil</h5>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="iconbox style3 box-shadow2">
                    <div class="box-header">
                        <div class="box-icon">
                            <i class="ti-support"></i>
                        </div>
                    </div>
                    <div class="box-content">
                        <h5 class="box-title">Living Will</h5>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="title-section  ">
                    <div class="sub-title style3">
                        <p>The ancillary services we provide post death to facilitate your executor to execute testators desires are </p>


                        <ul class="other-services">

                            <li>Transfer of shares</li>
                            <li>Transfer of the bank accounts</li>
                            <li>Transfer of the immovable property etc</li>

                        </ul>
                        </br>
                        <p>Stay tuned with us to know when we are starting with the above ancillary facility. These facilities are restricted to the geographical boundaries of Mumbai, Mumbai suburban. The charges for these facilities will depend on pro rata basis </p>
                    </div>
                    <div class="sub-title style3">



                        <p>Stay tuned with us to know when we are starting with the above ancillary facility. These facilities are restricted to the geographical boundaries of Mumbai, Mumbai suburban. The charges for these facilities will depend on pro rata basis </p>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>




